@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("primary-button.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    color: #2291a5;
    background: #f6fbff;
    width: 100%;
    margin: 0;
}

.container {
    margin: 0 140px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #50a3a2;
    position: sticky;
}

.navbar .brand {
    font-weight: 500;
    font-size: 40px;
    display: inline-block;
    /* position: fixed; */
}

.brand img {
    width: 180px;
    margin-left: 40px;
}

.navbar-items {}

.navbar-item {
    font-size: 17px;
    font-weight: 200;
    display: inline-block;
    font-weight: 500;
}

.navbar-item a {
    text-decoration: none;
    color: #646464;
    padding: 10px 20px;
}

.navbar-item a:hover {
    /* background-color: rgb(230, 224, 224);
    border-radius: 5px; */
}

.navbar-item a.active {
    color: #000;
}

.form {
    padding: 30px 20px;
    width: 40%;
    height: 100%;
    margin: 8% auto 3% auto;
    text-align: center;
    box-shadow: 0px 2px 11px #2291a538;
    border-radius: 15px;
}

.form h1 {
    color: #212b27;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
}

.form input {
    width: 75%;
    background-color: #fff;
    border: 1px solid #00000029;
    border-radius: 15px;
    border-radius: 7px;
    padding: 13px 20px;
    margin: 0 auto 15px auto;
    font-size: 15px;
    font-weight: 300;
}

.form p {
    margin-top: 30px;
    color: black;
    font-weight: 600;
}

.form a {
    padding: 5px;
    color: #50a3a2;
}

h4 {
    margin-bottom: 15px;
}

.criteria-range {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    font-weight: 500;
    color: #574e5a;
}

h3 {
    text-align: left;
    margin-bottom: 15px;
    color: rgb(94, 85, 85);
    letter-spacing: 2px;
}

.inline-divs {
    display: flex;
}

.map {
    z-index: 9999;
}

.path {
    padding: 15px;
    margin: 20px;
    box-shadow: 0px 2px 13px #1d7e8f42;
    border-radius: 10px;
}

.path-details {
    margin: 15px;
    font-size: 18px;
    color: #000;
    margin-left: 20%;
    letter-spacing: 4px;
}

.path-price {
    margin: 15px;
    font-size: 18px;
    margin-left: 20%;
    font-weight: bolder;
}

.MuiTab-root {
    font-weight: 500 !important;
    text-transform: capitalize !important;
    font-size: 0.975rem !important;
}

.Mui-selected {
    font-weight: 600 !important;
}

.right-align {
    float: right;
    margin-top: -45px;
}

.slider {
    color: #1aba11;
    height: 30px;
}

.path-details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.path-detail-label {
    color: #000;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.5px;
    flex: 0 0 16rem;
}

.path-detail-value {
    color: #000;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1.2px;
    flex: 1 0 auto;
}

.path-details-container {
    padding-left: 20px;
    padding: 10px 20px;
}

.book-itinerary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}