@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('primary-button.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    color: #50a3a2;
    background: #F6FBFF;
    width: 100%;
    margin: 0;
}

.container {
    margin: 0 140px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #50a3a2;
    position: sticky;
}

.navbar .brand {
    font-weight: 500;
    font-size: 40px;
    display: inline-block;
}

.brand img {
    width: 180px;
    margin-left: 40px;
}


.navbar-item {
    font-size: 17px;
    font-weight: 200;
    display: inline-block;
    font-weight: 500;
}

.navbar-item a {
    text-decoration: none;
    color: #646464;
    padding: 10px 20px;
}


.navbar-item a.active {
    color: #000;
}

.form {
    padding: 30px 20px;
    width: 40%;
    height: 100%;
    margin: 8% auto 3% auto;
    text-align: center;
    box-shadow: 0px 2px 11px #2291a538;
    border-radius: 15px;
}

.form h1 {
    color: #212B27;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
}

.form input {
    width: 75%;
    background-color: #fff;
    border: 1px solid #00000029;
    border-radius: 15px;
    border-radius: 7px;
    padding: 13px 20px;
    margin: 0 auto 15px auto;
    font-size: 15px;
    font-weight: 300;
}

.form p {
    margin-top: 30px;
    color: black;
    font-weight: 600;
}

.form a {
    padding: 5px;
    color: #50a3a2;
}
