.dropdown-item {
    font-weight: 500;
}

.dropdown-item:not(:last-child) {
    border-bottom: 1px solid #868686;
}

.dropdown-item a,
.dropdown-item span {
    padding: 10px 8px;
    display: block;
    font-size: 0.97rem;
    border-radius: 3px;
    color: #212b27;
    cursor: pointer;
}

.dropdown-item a:hover,
.dropdown-item span:hover {
    color: #212b27;
    background-color: #d1d1d1;
}